.Card{

    height: 300px;
    width: inherit;
    border-radius: 20px;
    background-color: rgb(112, 173, 248);
    padding: 20px;

    >.card-head{

        display: flex;
        align-items: center;
        gap: 30px;

        
        >.profile-photo{
            
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: rgb(55, 66, 66);
            overflow: hidden;
            >img{
                height: 100%;
                width: 100%;
                
            }
            
        }
    }
    >.card-body{

        margin-top: 30px;

    }
}