*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
#timer_container{
    background-color: rgb(252, 236, 134);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    /* border: 1px solid black; */
    border-radius: 10px;

    
}
#time-input{

    height: 30px;
    width: 280px;
    padding-left: 10px;
    border-radius: 10px;

}
#button_container{
    display: flex;
    align-items: center;
    justify-content: center;
   
    gap: 5px;
}
.button{
    background-color: rgb(64, 64, 230);
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: none;
}